# Python
__pycache__/
*.py[cod]
*.pkl

# Virtualenv
venv/
.env

# HuggingFace / Pyannote caches
local_diarization/
pretrained_models/
~/.cache/huggingface/

# Generated TeX & PDFs
tex/
*.aux
*.log
*.pdf
*.toc

# Large data
raw_audio/

